.bar_root{
  flex: 1,
}
.app_header {
    display: flex;
    transition : 0.5s;
    font-size: 1.5vw;
    position: fixed;
}
.toolbar {
    display: flex;
    justify-Content: left;
    transition : 0.3s;
    padding-top: 1vh;
    padding-bottom: 0.7vh;
    color:aqua;
    font-size: 3.5vmin;
}
.logo {
       display: flex;
	   position: relative;
       font-Family: Work Sans, sans-serif;
       font-weight: 600;
	   font-size: 30;
       color: #FFFEFE;
       text-Align: left;
	   margin-Left: 1%;
       cursor: pointer;
       transition : 0.5s;
}
.logo:hover{
    transform: scale(1.4);
    transition : 0.5s;
}
.links { 
    display: inline-block;
    margin-left: 20%;
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
    transition: 0.3s;
    justify-content: space-between;
    transition:0.5s;
  }
  .links:after {
    display:block;
    content: '';
    border-bottom: solid 3px yellow;  
    transform: scaleX(0);  
    transition: 250ms ease-in-out;
  }
  .links:hover:after { 
    transform: scaleX(1); 
  }
a:link {
    color: rgba(0, 0, 0, 0.505);
    text-decoration: none;
}

a:visited {
    color: rgba(0, 0, 0, 0.305);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}