.App {
  text-align: center;
  background-color:rgba(40, 40, 40, 0.5);
  border-radius:10px;
  position: absolute !important;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  perspective: 1000px;
}

.lol { 
  font-size: 3vw;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  color: rgb(197, 13, 13);
  display:inline-block; 
  margin:0;
}
.lol:after {
  display:block;
  content: '';
  border-bottom: solid 3px blueviolet;  
  transform: scaleX(0);  
  transition: 250ms ease-in-out;
}
.lol:hover:after { 
  transform: scaleX(1); 
}
.calculator {
  border-radius: 20px;
  box-shadow: 0px 10px 0px 0px rgba(255, 255, 255, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  max-width: 27vw;
  overflow: hidden;
}
.calculator__display {
  background-color: #222222;
  color: #fff;
  font-size: 1.714285714vw;
  padding: 1vw 1.5vw;
  height: 100%;
  width: 100%;
  transition:1s;
  /* text-align: right; */
}
.calculator__keys {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}
.calculator__keys:hover{
  background-color: rgb(91, 91, 91);
}
.calculator__keys button:hover{
  background-color: red;
  transition:0.5s;
}
.calculator__keys > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}
.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: #eee;
}

.key--equal {
  background: linear-gradient(0deg, #ff7033, #854838);
  grid-column: -2;
  grid-row: 2 / span 4;
}
.key--equal:hover {
  background: linear-gradient(180deg,#ff7033, #854838);
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.rotate {
  transform: rotateY(180deg);
}
.calculator-normal, .calculator-scientific {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.calculator-scientific {
  transform: rotateY(180deg);
}
.a:hover{
  opacity: 0.7;
}