.home_root{
  align-items: center;
}
.Home_card {
  align-self: center;
  text-align: center;
  background-color:rgba(40, 40, 40, 0.5);
  border-radius:10px;
  position: relative !important;
  height: auto;
  width: 36vw;
  margin-Top:10vh;
  transition: all 0.5s;
  padding-top: 3vh;
}
.logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
	position: relative;
  cursor: pointer;
  transform: rotate(0deg);
  transition : 0.5s;
}
.logo:hover{
  transform: scale(1.06);
  transition : 0.5s;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-spinning {
    transition : 0.5s;
    animation: App-logo-spin 2s infinite linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    transform-style: preserve-3d;
  }
  to {
    transform: rotate(360deg);
    transform-style: preserve-3d;
  }
}

.lol { 
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  color: rgb(197, 13, 13);
  display:absolute; 
  margin:0;
}
.lol:after {
  display:block;
  content: '';
  border-bottom: solid 3px blueviolet;  
  transform: scaleX(0);  
  transition: 250ms ease-in-out;
}
.lol:hover:after { 
  transform: scaleX(1); 
}

.vertical-timeline-element-content {
  align-self: center;
  text-align: center;
  border-radius:1vw;
  position: relative !important;
  transition: all 0.5s;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  color: black;
  padding: 2em 3em !important;
}

.date{
  align-self: center;
  text-align: center;
  background-color:rgba(255, 165, 40, 0.5);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
  0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  border-radius:10px;
  height: auto;
  width: 40vmin !important;
  transition: all 0.5s;
  color: white;
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
  transition: all 0.5s;
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
    transition: all 0.5s ease;
  }
}
.vertical-timeline::before,
.vertical-timeline::after {
  background-color: #7289da !important;
}

.timeline-head-style{
  border-color: white;
  border-style:double;
  border-width: 0.7vh;
  display: flex;
  justify-content: center;
  padding-right: 5vh;
  padding-left: 5vh;
  padding-top: 0.5vh;
  padding-bottom: 1vh;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 2vw auto;
    margin-bottom: 1vh;
    width: 10vw;
    overflow: hidden;
    background-color:#ff764c;
    border-radius:2vh;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* This is for newterm.js*/
.name {
  background: -webkit-linear-gradient(135deg, #f26e3f, #e43351);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.designation {
  color:#f3bc3c;
}
.Pic img{
  border: 10px coral;
  border-radius: 50%;
  display: block;
  margin: 5vh auto;
  transform: scale(1);
  padding: 8px;
  width: 25%;
  box-shadow: 0px 0px 8px 4px white;
}
.Pic img:hover{
  transform: scale(1.3);
}